<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.user.mapper.UserMapper">

	<resultMap id="userResultMap" type="com.itwill.user.User">
		<result column="user_id" property="user_id" />
		<result column="user_pw" property="user_pw" />
		<result column="user_name" property="user_name" />
		<result column="useremail" property="user_email" />
		<result column="user_phone" property="user_phone" />
		<result column="user_freshness" property="user_freshness" />
		<result column="user_point" property="user_point" />
		<result column="user_profile" property="user_profile" />

		<collection property="addressList"
			javaType="java.util.List" ofType="com.itwill.user.Address">
			<result column="address_no" property="address_no" />
			<result column="address_name" property="address_name" />
			<result column="address_lat" property="address_lat" />
			<result column="address_lng" property="address_lng" />
			<result column="address_range" property="address_range" />
		</collection>
	</resultMap>

	<!-- <select id="existedUser" parameterType="String" resultType="int"> --> 
	<select id="existedUser" 	parameterType="com.itwill.user.User"  resultType="java.lang.Integer">
		select count(*) cnt from userinfo where user_id= #{user_id}
	</select>
	
	<select id="existedInvitation" parameterType="com.itwill.user.Invitation" resultType="String"> 
		select COUNT(*) FROM invitation where user_id=#{userId} </select>
	
	<select id="findUserList" resultMap="userResultMap">
		select * from address a join userinfo u on a.user_id=u.user_id
	</select>

	<!-- <select id="findUser" parameterType="String" resultMap="userResultMap"> -->
	<select id="findUser" parameterType="com.itwill.user.User"
		resultType="com.itwill.user.User">
		select * from userinfo where user_id= #{user_id}
	</select>
	
	<select id="findInviation" parameterType="String" resultType="com.itwill.user.Invitation">
		select * from invitation where user_id=#{user_id}
	</select>
	

	<insert id="createUser" parameterType="com.itwill.user.User">
		<!-- INSERT INTO userinfo (user_id, user_pw, user_name, user_email, user_phone, user_freshness, user_point, user_profile ) -->
		INSERT INTO userinfo
			VALUES (#{user_id}, #{user_pw}, #{user_name}, #{user_email}, #{user_phone}, #{user_freshness}, #{user_point}, #{user_profile})
	</insert>
	
	<insert id="createAddress" parameterType="com.itwill.user.Address">
		<!-- insert into address(address_no, address_name, address_lat,address_lng, address_range,user_id) -->
		insert into address
			values(address_address_no_seq.nextval, #{address_name}, #{address_lat}, #{address_lng}, #{address_range},#{user_id})
	</insert>
	
	<insert id="createInvitation" parameterType="com.itwill.user.Invitation">
		insert into invitation(invi_no,invi_email,user_id)
		values(INVITATION_INVI_NO_SEQ.nextval,#{invi_email},#{user_id})
	</insert>
	

	<update id="updateUser" parameterType="com.itwill.user.User">
	 	update  userinfo 
		set user_pw=#{user_pw},user_name=#{user_name},user_email=#{user_email} 
		where user_id=#{user_id}
	</update>
	
	<update id="updateAddress" parameterType="com.itwill.user.Address">
	 	update address set address_name=#{address_name}, address_lat=#{address_lat}, address_lng=#{address_lng}
		where address_no=#{address_no}
	</update>

	<!-- 매너온도 -->
	<update id="updateFreshness" parameterType="com.itwill.user.User">
	 	update userinfo set user_freshness=#{user_freshness}
		where user_id=#{user_id}
	</update>

	<!-- 포인트 -->
	<update id="updatePoint" parameterType="com.itwill.user.User">
	 	update userinfo set user_point=user_point+#{user_point}
		where user_id=#{user_id}
	</update>
	
	<!-- <delete id="remove" parameterType="String"> -->
	<delete id="removeUser" parameterType="com.itwill.user.User">
		delete userinfo where user_id=#{user_id}
	</delete>


</mapper>