<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.guest.mapper.GuestMapper">

	<!-- ########################################################################### -->
	<!-- 
	/**************************************************
	 	SELECT [user]
	**************************************************/
	 -->
	 <select id="findUserList" resultType="com.itwill.user.User">
	 	<!-- select * from userinfo -->
	 	select userid, password, name, email from userinfo
	 </select>
	 
	 <select id="findUser" parameterType="String" resultType="com.itwill.user.User">
		select userid,password,name,email from userinfo where userid= #{test}
	 </select>
	 
	 <select id="existedUser" parameterType="User" resultType="int">
	 	select count(*) cnt from userinfo where userid=#{userId}
	 </select>
	<!-- 
	/**************************************************
	INSERT
	***************************************************/
		parameterType: DTO,VO,Domain
	 -->
	 <insert id="create" parameterType="User">
	 	insert into userinfo(userid,password,name,email) 
	 		values(#{userid},#{password},#{name},#{email})
	 </insert>
 	<!-- 
	/**************************************************
	UPDATE
	***************************************************/
		parameterType: DTO,VO,Domain
	 -->
	 <update id="update" parameterType="User">
	 	update  userinfo 
		set password=#{password},name=#{name},email=#{email} 
		where userid=#{userId}
	 </update>
  	<!-- 
	/**************************************************
	DELETE
	***************************************************/
		parameterType: java.lang.Integer,java.lang.String
	-->
	<!-- <delete id="remove" parameterType="String"> -->
	<delete id="remove" parameterType="User">
		delete userinfo where userid=#{userId}
	</delete>
	 
</mapper>